extends ../layout

block append js
  script(src='http://localhost:35729/livereload.js')
  script(src='components/angular/angular.min.js')

block append content
  p This is the home page of old clothes management app.
  div
    input(type='text', data-ng-model='name')
    span content in this input is {{name}}